<table class="table table-striped">
    <caption>Retrieved Items: {{list.length}}</caption>
    <thead>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
<!--        <th>Price</th>-->
        <th>Remove</th>
    </thead>
    <tbody>
        <tr ng-repeat="item in list.items">
            <td>{{item.name}}</td>
            <td>{{item.short_name}}</td>
            <td>{{item.description}}</td>
<!--            <td>{{item.price_large | currency}}</td>-->
            <td><button class="btn btn-danger" ng-click="list.onRemove({index:$index})">I don't want this</button></td>
        </tr>
    </tbody>
</table>
