body {
  font-size: 16px;
  color: #005375;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#logo-img {
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 30px;
}
.navbar-brand h1{
	color: #005375;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #005375;
  text-align: center;
}
#nav-list a:hover {
  background: #d7df21;
  border-radius: 5px;
}
#nav-list a span {
  font-size: 1.8em;
}
#phone div {
	color: #005375;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #005375;
	background-color: #d7df21;
}

.navbar-header button.navbar-toggle:focus {
	background-color: #d7df21;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -25px;
}
/*END HEADER*/
/*home page*/
.container .jumbotron {
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}

#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
	background: url(../images/DSC_0402.jpg) no-repeat;
	background-position: center;
}

#specials-tile {
	background: url(../images/DSC_0657.jpg) no-repeat;
	background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
	color: #005375;
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.8;

}

/*Large*/
@media (min-width: 1200px) {
	.jumbotron {
		background: url(../images/polo1200.jpg) no-repeat;
		height: 675px;
	}
}

/*medium*/
@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
	  width: 100px;
	  height: 100px;
	  margin: 5px 5px 5px 0;
	}
	.jumbotron {
		background: url(../images/polo992.jpg) no-repeat;
		height: 558px;
	}
}

/*small*/
@media (min-width: 768px) and (max-width: 991px) {
	#logo-img {
	  width: 100px;
	  height: 100px;
	  margin: 5px 5px 5px 0;
	}
	.jumbotron {
		background: url(../images/polo768.jpg) no-repeat;
		height: 432px;
	}
}

/*Xtra small*/
@media (max-width: 767px) {
	#logo-img {
	  width: 70px;
	  height: 70px;
	  margin: 5px 5px 5px 5px;
	}
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1{
		padding-top: 10px;
		font-size: 5vw;

	}
	.navbar-brand a:hover, .navbar-brand a:focus {
	  text-decoration: none;
	}
	.navbar-brand p { /* Kosher cert */
	  font-size: .6em;
	  margin-top: 12px;
	}

	#collapsable-nav a {
		font-size: 1.2em;
	}
	#collapsable-nav a span{
		font-size: 1em;
		margin-right: 5px;
	}
	#call-btn > a {
	    font-size: 1.5em;
	    display: block;
	    margin: 0 20px;
	    padding: 10px;
	    border: 2px solid #fff;
	    background-color: #d7df21;
	    color: #005375;
	    text-align: center;
	}
	  #xs-deliver {
	    margin-top: 5px;
	    font-size: .7em;
	    letter-spacing: .1em;
	    text-transform: uppercase;
	}
	.container .jumbotron { /*adapt image to jumbotron*/
		margin-top: 30px;
		padding: 0;
	}
}